.courseCard__image__container {
  /* margin: 0 3rem; */

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* margin-top: 1.6rem; */

  /* width: 100pz; */
  /* width: 84px; */
  /* height: 84px; */
  /* position: relative; */
}

.courseCard {
  /* padding-top: 0rem; */
  margin: 0.5rem;
  width: 16rem;
  height: 12rem;
  transition: all 0.5s ease;
  /* min-height: 12rem; */
}

.courseCard__container {
  height: 100%;
  align-items: center;
}

.courseCard:hover {
  /* transform: translateY(-30px); */
  /* transform: translateY(-30px); */
  /* transform: rotate(30deg); */
  transform: translate(0, -0.5rem);
  cursor: default;
}

@media screen and (max-width: 897px) {
  .courseCard {
    width: calc(16rem * 0.8);
    height: calc(12rem * 0.8);
  }
}

@media screen and (max-width: 475px) {
  .courseCard {
    width: calc(50vw - 32px);
    /* width: calc(50vw * 0); */
    height: calc(50vw);
  }
}
