.courseCard__image__container {
    /* margin: 0 3rem; */

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* margin-top: 1.6rem; */

    /* width: 100pz; */
    /* width: 84px; */
    /* height: 84px; */
    /* position: relative; */
}

.courseCard {
    /* padding: "0.5rem 1rem"; */
    /* padding-top: 0rem; */
    margin: 0.5rem;
    /* width: 16rem; */
    /* height: 12rem; */
    /* min-height: 12rem; */
}

.courseCard__container {
    height: 100%;
    align-items: center;
    
    
}

.bgImg {
    height: 100vh;
}